body {
	font-family: 'Lato', sans-serif;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	font-size: 16px;
	height: 100%;
	line-height: 150%;
}
pre { 
    font-size:15px;
    line-height: 100%;
    margin-left: 10px;
    background-color: #ffffa0;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    white-space: pre-wrap;
}
h1 {
	font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #000000;
}
hr {
    margin-bottom: 0px;
    margin-top: 0px;
}
div.nav {
	min-width: 900px;
	height: 150px;
	padding-left: 10px;
}
div.nav {
	min-width: 900px;
	padding-right: 50px;
	vertical-align: top;
	font-size: 34px;
}
tr.nav {
	height:150px;
}
td.nav {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}
td.navmain {
	padding-left: 10px;
	padding-right: 50px;
	vertical-align: top;
	font-size:34px;
}
ul.nav
{
list-style-type:none;
margin:0;
margin-top: 10px;
margin-bottom: 0px;
padding:0;
overflow:hidden;
}
li.nav
{
float:left;
border-right:1px solid #ffffff;
line-height:12px;
}
a:link.nav,a:visited.nav
{
display:block;
width:120px;
font-size:12px;
font-weight:bold;
color:#FFFFFF;
background-color:#000080;
text-align:center;
padding:4px;
text-decoration:none;
}
li.sep
{
float:left;
border-right: 1px solid #ffffff;
line-height:12px;
font-size:12px;
text-align:center;
font-weight:bold;
padding:4px;
}
a:hover.nav,a:active.nav
{
background-color:#0000ff;
}
a:link.dl,a:visited.dl
{
display:block;
width:175px;
font-family:courier;
font-size:12px;
font-weight:bold;
color:#000000;
background-color:#d0d0ff;
text-align:center;
padding:4px;
text-decoration:none;
border:1px solid;
}
a:hover.dl,a:active.dl
{
background-color:#f0f0ff;
text-decoration:underline;
}

div.plot {
	font-family: sans-serif;
	font-size: 14px;
	margin:10px;
	width:600px;
	height:400px;
	line-height: 100%;
}

a.button:link { text-decoration: none; color: #0000ff; }
a.button:visited { text-decoration: none; color: #0000ff; }
a.button:active { text-decoration: none; color: #0000ff; }
a.button:hover { text-decoration: none; color: #ff0000; }
a.menu:link { text-decoration: none; color: #0000ff; text-decoration: underline; }
a.menu:visited { text-decoration: none; color: #0000ff; text-decoration: underline; }
a.menu:active { text-decoration: none; color: #0000ff; text-decoration: underline; }
a.menu:hover { text-decoration: none; color: #ff0000; }
